dist: xenial   # required for Python >= 3.7

sudo: required

language: python

cache: pip

python:
  - "3.6"
  - "3.7"
  
addons:
  apt:
    packages:
      - openjdk-8-jdk
      
env:
  - JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64

install:
  - make deps

script:
  - make coverage

after_success:
  - bash <(curl -s https://codecov.io/bash)
